<aside class = "navbar-aside" id = "offcanvas_aside" > <div class="aside-top"> <a href = "/" class = "brand-wrap" > <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuMOAOWJhCfHxXF-a-MRzBNvMydKInecaP-p-8nbRv3A&usqp=CAU&ec=48600113" class="logo" alt="Evara Dashboard" /> </a>
    <div>
      <button class="btn btn-icon btn-aside-minimize">
        <i class="text-muted material-icons md-menu_open"></i > </button> </div>
  </div > <nav> <ul class = "menu-aside" > <li class="menu-item active"> <a class = "" href = "/" > <i class="icon material-icons md-home"> </i>
          <span class="text" style="color: #000">Dashboard</span > </a> <li class = "menu-item has-submenu" > <a class="" href="/admin/add-category"> <i class = "icon material-icons md-store" > </i> <span class = "text" style = "color: #000" > Categories </span>
        </a > </li> <li class = "menu-item has-submenu" > <a class="" href="/admin/coupon"> <i class = "icon material-icons md-add_box" > </i> <span class = "text" style = "color: #000" > Coupon </span>
        </a > </li> <li class = "menu-item has-submenu" > <a class="" href="/admin/sales_report"> <i class = "icon material-icons md-add_box" > </i> <span class = "text" style = "color: #000" > Sales Report </span>
        </a > </li> <li class = "menu-item has-submenu" > <a class="" href="/admin/view-users"> <i class = "icon material-icons md-person" > </i> <span class = "text" style = "color: #000" > Users </span>
        </a > </li> <li class = "menu-item has-submenu" > <a class="" href="/admin/orderList"> <i class = "icon material-icons md-person" > </i> <span class = "text" style = "color: #000" > Orders </span>
        </a > </li> </ul>
    <hr /> <ul class="menu-aside"> <li class = "menu-item has-submenu" > <a class="" href="/admin/view-banner"> <i class = "icon material-icons md-settings" > </i> <span class = "text" style = "color: #000" > Banners </span>
        </a > </li> </ul>
    <ul class="menu-aside">
      <li class="menu-item has-submenu">
        <a class="" href="/admin/view-product ">
      
 <i class = "icon material-icons md-settings" > </i> <span class = "text" style = "color: #000" > Products </span>
        </a > </li> </ul>
    <br /> <br /> </nav>
</aside >
