<header class="main-header navbar">
  <div class="col-search">
    <form class="searchform">
      <div class="input-group">
        <input
          list="search_terms"
          type="text"
          class="form-control"
          placeholder="Search term"
        />
        <button class="btn btn-light bg" type="button">
          <i class="material-icons md-search"></i>
        </button>
      </div>
      <datalist id="search_terms">
        <option value="Products"></option>
        <option value="New orders"></option>
        <option value="Apple iphone"></option>
        <option value="Ahmed Hassan"></option>
      </datalist>
    </form>
  </div>
  <div class="col-nav">
    <ul class="nav">
      <% if (adminStatus==true) { %>

      <li class="dropdown nav-item">
        <a
          class="dropdown-toggle"
          data-bs-toggle="dropdown"
          href="#"
          id="dropdownAccount"
          aria-expanded="false"
        >
          <img
            class="img-xs rounded-circle"
            src="/imgs/people/avatar2.jpg "
            alt="User"
        /></a>
        <div
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="dropdownAccount"
        >
          <a class="dropdown-item text-danger" href="/admin/logout">
            <i class="material-icons md-exit_to_app"> </i>Logout</a
          >
        </div>
        <%} else { %>
        <a class="dropdown-item text-success" href="/admin/login">
          <i class="material-icons md-enter_to_app"> </i>Login</a
        >
        <% } %>
      </li>
    </ul>
  </div>
</header>
