 <section>
    <div class="container" style="width: 100%; height:35rem;">
        <div class="float-center p-3" style="background-color: white;">
            <div class="text-center mt-5"><img style="width: 80px;height:80px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzZDBX4LGNV-O9PM8CUR3ZVmqmWSkMW9t8wwgcTxQJ7l4NBgeOewOKOYlH9aOrnIpohPgVHlq8MzM&usqp=CAU&ec=48600113" alt="">
                <div class="col-md-12 text-center mt-3">
                    <h1 class="text-center">Order Placed Successfully</h1>
                    <a href="/orderList" class="btn btn-primary mt-5">View Orders</a>
                </div>

            </div>

        </div>
    </div>
</section> 