<section class="mx-auto">
  
    
    <div class="container">
      <div class="row my-5">
        <div class="col-lg-10 m-auto">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <div
                class="login_wrap widget-taber-content p-30 background-white border-radius-5"
              >
                <div class="padding_eight_all bg-white">
                  <div class="heading_s1">
                    <h3 class="mb-30">Create an Account</h3>
                  </div>
                  <p class="mb-50 font-sm">
                    Your personal data will be used to support your experience
                    throughout this website, to manage access to your account, and
                    for other purposes described in our privacy policy
                  </p>
                  <%if (emailStatus==false){%>
                    <p style="color: red;">EmailId already exist </p>
                    <%}
  
                     
                
                    %>
                    
                  <form  action="/signup" method="post">
                    <div class="form-group">
                    
                      <input

                        type="text"
                        required=""
                        name="username"
                        placeholder="Username"
                        onkeyup="validateUsername()"
                      />
                      <div id="username-error" class="text-danger"></div>
                        
                    </div>
                    <div class="form-group">
                      <input
                      id="form2Example1"
                        type="text"
                        required=""
                        name="email"
                        placeholder="Email"
                        onkeyup ="validateEmail()"
                      />
                    </div>
                    <div id="email-error" class="text-danger"></div>
                    <div class="form-group">
                      <input
                        type="text"
                        required=""
                        name="phonenumber"
                        placeholder="Phone Number"
                        onkeyup ="validatePhoneNumber()"
                      />
                    </div>
                    <div id="phone-number-error" class="text-danger"></div>
                    <div class="form-group">
                      <input
                        required=""
                        type="password"
                        name="password"
                        placeholder="Password"
                      />
                    </div>
                  
                    <div class="login_footer form-group">
                      <div class="chek-form">
                        <div class="custome-checkbox">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="checkbox"
                            id="exampleCheckbox12"
                            value=""
                          />
                          <label class="form-check-label" for="exampleCheckbox12"
                            ><span>I agree to terms &amp; Policy.</span></label
                          >
                        </div>
                      </div>
                       
                    </div>
                    <div class="form-group d-flex justify-content-center">
                      <button
                        type="submit"
                        class="btn btn-fill-out btn-block hover-up"
                        name="login"
                      >
                        Submit &amp; Register
                      </button>
                    </div>
                  </form>
                  <div class="divider-text-center mt-15 mb-15">
                    <span> or</span>
                  </div>
              
                  <div class="text-muted text-center">
                    Already have an account ? <a href="/login"> Sign in now</a >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

 
</section>

<script>
    

  function validateEmail() {
    const emailInput = document.getElementById('form2Example1');
    const emailError = document.getElementById('email-error');
    const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    if (!emailPattern.test(emailInput.value)) {
      emailError.innerHTML = 'Please enter a valid email address';
      return false;
    } else {
      emailError.innerHTML = '';
      return true;
    }
  }
  function validateUsername() {
  const usernameInput = document.querySelector('input[name="username"]');
  const usernameError = document.getElementById('username-error');
  const usernamePattern = /^[a-zA-Z0-9]+$/;
  if (!usernamePattern.test(usernameInput.value)) {
    usernameError.innerHTML = 'Please enter a valid username (only letters and numbers)';
    return false;
  } else {
    usernameError.innerHTML = '';
    return true;
  }
}
function validatePhoneNumber() {
  const phoneNumberInput = document.querySelector('input[name="phonenumber"]');
  const phoneNumberError = document.getElementById('phone-number-error');
  const phoneNumberPattern = /^\d{10}$/;
  if (!phoneNumberPattern.test(phoneNumberInput.value)) {
    phoneNumberError.innerHTML = 'Please enter a valid 10-digit phone number';
    return false;
  } else {
    phoneNumberError.innerHTML = '';
    return true;
  }
}



  </script>